<footer  class="A">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div>
    
                    <h1 class="fs-3">LOCATION</h1>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>

                </div>
            </div>


            <div class="col-md-4 text-center">
                
             

                    <h2 class="fs-3" >AROUND THE WEB</h2>
                    <div class="icons   B">
                        <i  class="fa-brands fa-facebook mx-1 icon cicl  rounded-circle text-white"></i>
                        <i  class="fa-brands fa-twitter mx-1 icon"></i>
                        <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                        <i class="fa-solid fa-globe mx-1 icon"></i>
                    </div>
            </div>
            <div class="col-md-4">
                <div>
    
                    <h3 class="fs-3">LOCATION</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by <br> Route</p>
                    

                </div>
            </div>

        </div>
    </div>




</footer>

<footer>
    
<div class="end-footer">
    <p>Copyright © Your Website 2021</p>
</div>
</footer>
  

