
<div class="home d-flex justify-content-center align-items-center text-white startFram">
    
    <div class="text-center">
        <img src="../../assets/image/avataaars.svg" alt="" class="mb-3">
        <div style="color: black;">
            <h2  >start Framework</h2>
            <div  class="d-flex align-items-center justify-content-center mb-3">
                <div  style="background-color: white;">
                  
                <i  class="fa-solid fa-star"></i>
                <i  class="fa-solid fa-star"></i>
                <i  class="fa-solid fa-star"></i>
                <i  class="fa-solid fa-star"></i>
            </div>
                <div  style="background-color: white;">
                </div>
            </div>
        </div>
        <div >Graphic Artist - Web Designer - Illustrator</div>
    </div>
</div>